<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/main.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <title>Portfolio</title>
</head>

<body>
  <div class="frame">
    <div class="main_frame">
     
      <div class="left_frame">
        <div class="left_1">
          <div class="left_1-1">
            <img src="/images/profile.png" width="156px" height="142px" alt="">
          </div>
          <div class="left_1-2">
            <%= user.name %>
          </div>
          <div class="left_1-3">
            <%= user.profession %>
          </div>
          <div class="left-icons">
           
            <a class="link_href" href=""><div class="icon"><img src="/author/button_icons/Vector-d.svg" class="icon-1"></div></a>
            <a class="link_href" href=""><div class="icon"><img src="/author/button_icons/Vector-f.svg" class="icon-1"></div></a>
            <!-- <a class="link_href" href=""><div class="icon"><img src="/authot/button_icons/Vector-i.svg" class="icon-1"></div></a> -->
            <a class="link_href" href=""><div class="icon"><img src="/author/button_icons/Vector-l.svg" class="icon-1"></div></a>
            <a class="link_href" href=""><div class="icon"><img src="/author/button_icons/Vector-t.svg" class="icon-1"></div></a>
            <a class="link_href" href=""><div class="icon"><img src="/author/button_icons/Vector-y.svg" class="icon-1"></div></a>
          </div>
        </div>
        <div class="marginer_1"></div>
        <div class="left_2">
          <div class="left_2_1">
            <div class="age" style="background-color:#FFB400;">Age:</div>
            <div class="age_n">22</div>
          </div>
          <div class="left_2_2">
            <div class="residence" style="background-color:#FFB400;">Residence:</div>
            <div class="residence_type">Uzbekistan</div>
          </div>
          <div class="left_2_3">
            <div class="freelance" style="background-color:#FFB400;">Freelance:</div>
            <div style="color: #000000;">Available</div>
          </div>
          <div class="left_2_4">
            <div class="address"  style="background-color:#FFB400;">Address:</div>
            <div>South Korea</div>
          </div>
        </div>
        <div class="marginer_2"></div>
        <div class="left_3">
          <div class="left_3_1">
            <h4>Languages</h4>
          </div>
          <div class="left_3_2">
            <div class="language-name">Uzbek:</div>
            <div class="language-per">100%</div>
          </div>
          <div class="line"><img src="/author/button_icons/line100.png" /></div>
          <div class="left_3_3">
            <div>English</div>
            <div>80%</div>
          </div>
          <div class="line"><img src="/author/button_icons/line80.png" /></div>
          <div class="left_3_4">
            <div>Korean</div>
            <div>60%</div>
          </div>
          <div class="line"><img src="/author/button_icons/line60.png" /></div>
        </div>
        <div class="marginer_3"></div>
  
        <div class="left_4">
          <div class="left_4_1"><h4>Skill</h4></div>
          <div class="left_4_2"><div>HTML</div><div>90%</div></div>
          <div class="line"><img src="/author/button_icons/line90.png"></div>
          <div class="left_4_3"><div>CSS</div><div>85%</div></div>
          <div class="line"><img src="/author/button_icons/line85.png"></div>
          <div class="left_4_4"><div>Js</div><div>80%</div></div>
          <div class="line"><img src="/author/button_icons/line80.png"></div>
          <div class="left_4_5"><div>PHP</div><div>75%</div></div>
          <div class="line"><img src="/author/button_icons/line75.png"></div>
          <div class="left_4_6"><div>Word Press</div><div>85%</div></div>
          <div class="line"><img src="/author/button_icons/line85.png"></div>
        </div>
        <div class="marginer_4"></div>
        <div class="left_5">
          <div class="left_5_1"><h4>Extra skills</h4></div>
          <div class="left_5_2">
            <div>
              <img src="/author/button_icons/tortburchak.png" style="width: 15px; height: 15px;" alt="">
              <div>Bootstrap, Materialize</div>
            </div>
          </div>
          <div class="left_5_3">
            <div>
              <img src="/author/button_icons/tortburchak.png" style="width: 15px; height: 15px;" alt="">
              <div>Stylus, Sass, Less</div>
            </div>
          </div>
          <div class="left_5_4">
            <div>
              <img src="/author/button_icons/tortburchak.png" style="width: 15px; height: 15px;" alt="">
              <div>Gulp, Webpack, Grant</div>
            </div>
          </div>
          <div class="left_5_5">
            <div>
              <img src="/author/button_icons/tortburchak.png" style="width: 15px; height: 15px;" alt="">
              <div>Git Knowledge</div>
            </div>
          </div>
        </div>
        <div class="marginer_5"></div>
      </div>
      <div class="midd_frame">
        <div class="midd_1">
          <div class="midd_1_1">
            <div class="elipse_12"></div>
            <div class="heading">
              <h1 class="heading_1">Doctor Neurologists in OHSU Hospital</h1>
            </div>
            <div class="text">
              <p class="text_1">
                Lorem ipsum dolor sit, amet consectetur
                adipisicing elit.
                Ullam adipisci explicabo incidunt
                dolorem nihil rem modi?
              </p>
            </div>
           <!-- <div class="midd_frame">
                <div class="midd_frame_icons">
                    <img class="midd_frame_icon-1" src="/author/button_icons/Ellipse 15.svg" alt="">
                    <img class="midd_frame_icon-2" src="/author/button_icons/Ellipse 16.svg" alt="">
                    <img class="midd_frame_icon-3" src="/author/button_icons/Rectangle 51.png" alt="">
                    <img class="midd_frame_icon-4" src="/author/button_icons/Ellipse 12.svg" alt="">
                    <img class="midd_frame_icon-5" src="/author/button_icons/Rectangle 52.svg" alt="">
                    <img class="midd_frame_icon-6" src="/author/button_icons/Ellipse 15.svg" alt="">
                    <img class="midd_frame_icon-7" src="/author/button_icons/Polygon 1.svg" alt="">
                </div>  -->
            <div>
              <button style="background-color: #FFB400; margin-top: -30px; border: none; border-radius:5px;" class="hire">
                Hire Me
              </button>
            </div>
          </div>
          <div class="midd_1_2">
            <img src="/images/yourimage1.png" class="profile_pic" alt="">
          </div>
        </div>
        <div class="about">
          <h1 style="margin-top: 100px;">My services</h1>
          <p style="text-align: center; margin-bottom: 60px; width: 438px; height: 68px;">
            Lorem ipsum dolor sit amet
            consectetur adipisicing elit.
            Accusantium eius placeat
            excepturi qui eligendi perferendis! Blanditiis fugit nihil adipisci, reiciendis dolorem
            velit
            aut.
          </p>
        </div>
        <div class="parent">
          <div class="child">
            <img src="/author/box_pics/box_1.png" alt="" style="width: 70px; height: 70px;">
            <h4>Web development</h4>
            <p>Blog, E-commerse</p>
          </div>
          <div class="child">
            <img src="/author/box_pics/box_2.png" alt="" style="width: 70px; height: 70px;">
            <h4>UI/UX Desighn</h4>
            <p>Mobile App, Website design</p>
          </div>
          <div class="child">
            <img src="/author/box_pics/box_3.png" alt="" style="width: 70px; height: 70px;">
            <h4>Sound design</h4>
            <p>Voice Over Beat Makin</p>
          </div>
          <div class="child">
            <img src="/author/box_pics/box_4.png" alt="" style="width: 70px; height: 70px;">
            <h4>Game Design</h4>
            <p>Character Design Props & Objects</p>
          </div>
          <div class="child">
            <img src="/author/box_pics/box_5.png" alt="" style="width: 70px; height: 70px;">
            <h4>Photography</h4>
            <p>Portrait Pruduct Photography</p>
          </div>
          <div class="child">
            <h4>Advertising</h4>
            <p style="padding: 20px; text-align: center;">
              Lorem ipsum dolor sit amet, consectetur
              adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi.
            </p>
            <div style="color:#FFB400 ;">ORDER NOW &gt;</div>
          </div>
        </div>
      </div>
      <div class="right_frame">
        <div class = "pen"></div>
        <img src ="/author/button_icons/Blog.svg" alt="" style="width: 20px; height: 20px; margin-top: 50px;">
        <div class="iconss">
            <div class="first_icon_right">

                <img src="/author/button_icons/koshona.svg" alt="" style="width: 20px; height: 20;">

            </div>

            <div class="icon_right">
                <img src="/author/button_icons/yarimoy.svg" alt="" style="width: 20px; height: 20;">

            </div>

            <div class="icon_right">

                <img src="/author/button_icons/portfel.png" alt="" style="width: 20px; height: 20;">

            </div>

            <div class="icon_right">

                <img src="/author/button_icons/student.svg" alt="" style="width: 20px; height: 20;">

            </div>
            <div class="icon_right">

                <img src="/author/button_icons/codefile.svg" alt="" style="width: 20px; height: 20;">

            </div>

            <div class="icon_right">

                <img src="/author/button_icons/sms.svg" alt="" style="width: 20px; height: 20;">

            </div>

        </div>
    </div>

</div>
</body>

</html> 
